*{
    margin: auto 0;
 }
#header {
    height: 100px;
    width: auto;
    background-color: lightcoral;
}
.body {
    height: auto;
    width: auto;
}
#footer {
    height: 200px;
    width: auto;
    background-color: darkblue;
}